

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}




/*---------------------
  Categories Section
-----------------------*/

.right-btn {
	text-align: right;
	padding-top: 24px;
}

.categories-slider.owl-carousel .owl-item.active .cs-item .cs-text h4 {
	opacity: 1;
}

.categories-slider.owl-carousel .owl-item.active .cs-item .cs-text span {
	opacity: 1;
}

.categories-slider.owl-carousel .owl-nav button {
	font-size: 24px;
	color: #ffffff;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	position: absolute;
	left: 30px;
	top: 152px;
}

.categories-slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: 30px;
}

.cs-item {
	text-align: center;
	width: 100%;
	background: #f5f5f5;
}

.cs-item .cs-pic {
	height: 360px;
}

.cs-item .cs-text {
	padding: 25px 0 22px;
}

.cs-item .cs-text h4 {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.cs-item .cs-text span {
	font-size: 17px;
	color: #009603;
	display: block;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
